h1{
  font-family: Arial, Helvetica, sans-serif;
  color: #6297BC;
  text-transform: capitalize;

}

h2{
color: #666666;
font-weight:bold;
font-family:tahoma;
font-size:12px;

}

/*div{
  border: thin solid black;
  background-color: pink;
}
*/
.move{
  text-decoration: underline;
  font-style: italic;
}

.maintext{
font-size: small;

/*text-indent: 5%;*/
}

